/* Main container styles */
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  height: 100vh;
}

/* Background image with blur styles */
.main-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/honda-civic--var1--1919x829.webp');
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: -1;
}

/* Form container styles */
.main-container__form-container {
  grid-row: 1/-1;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: var(--gap--large);
  background-color: var(--grey--lightest);
  padding: var(--padding--medium);
  border-radius: var(--border-radius--medium);
  box-shadow: var(--box-shadow--large);
  min-width: 30rem;
}

/* Header container styles */
.main-container__form-container__header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--gap--large);
}

/* Title styles */
.main-container__form-container__header-container__title {
  color: var(--grey--darkest);
}

/* Form styles */
.main-container__form-container__form {
  display: flex;
  flex-direction: column;
  gap: var(--gap--large);
}

/* Content container styles */
.main-container__form-container__form__content-container {
  display: grid;
  gap: 0 var(--gap--medium);
  grid-template-columns: 1fr 1fr;
}

/* Logo styles */
.main-container__logo {
  position: absolute;
  top: var(--padding--small);
  right: var(--padding--medium);
  object-fit: cover;
  max-height: 3rem;
  width: auto;
}

/* Footer container styles */
.main-container__form-container__form__footer-container {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap--medium);
  flex-direction: column;
}

/* Button container styles */
.main-container__form-container__form__footer-container__buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: var(--gap--small);
}

/* Link styles */
.main-container__form-container__form__footer-container__link {
  justify-self: start;
  color: var(--grey--medium);
  text-decoration: none;
}
