<div class="main-container">
  <img [height]="logoHeight" [width]="logoWidth" alt="logo"
       class="main-container__logo" ngSrc="/assets/images/klock--var3--logo.svg"/>
  <div class="main-container__form-container">
    <div class="main-container__form-container__header-container">
      <h1 class="main-container__form-container__header-container__title">{{ title }}</h1>
    </div>
    <form [formGroup]="formGroup" class="main-container__form-container__content-container" (ngSubmit)="onSubmit($event)">
      <ng-content></ng-content>
      <div class="main-container__form-container__content-container__footer-container">
        <div class="main-container__form-container__content-container__footer-container__buttons-container">
          <app-button [ngClass]="{'button--primary--not-filled':true}" [type]="'reset'">Cancel</app-button>
          <app-button [ngClass]="{'button--primary':true}" [type]="'submit'">Submit</app-button>
        </div>
        <a [routerLink]="link" class="main-container__form-container__content-container__footer-container__link">{{linkText}}</a>
      </div>
    </form>
  </div>
</div>
