<div class="main-container">
  <app-link [link]="logoLink">
    <img [height]="logoHeight" [width]="logoWidth" alt="logo" class="main-container__logo"
         ngSrc="/assets/images/repuestos-edge--logo.svg" priority/>
  </app-link>
  <div class="main-container__form-container">
    <div class="main-container__form-container__header-container">
      <h1 class="main-container__form-container__header-container__title">{{ title }}</h1>
    </div>
    <form (ngSubmit)="onSubmit($event)" (reset)="onReset($event)" [formGroup]="formGroup"
          class="main-container__form-container__form">
      <div class="main-container__form-container__form__content-container">
        <ng-content></ng-content>
      </div>
      <div class="main-container__form-container__form__footer-container">
        <div class="main-container__form-container__form__footer-container__buttons-container">
          <app-button [class]="'button--primary--not-filled button--large'" [type]="'reset'">Cancel</app-button>
          <app-button [class]="'button--primary button--large'" [type]="'submit'">Submit</app-button>
        </div>
        <a [routerLink]="link" class="main-container__form-container__form__footer-container__link">{{ linkText }}</a>
      </div>
    </form>
  </div>
</div>
