/* Button styles */
.button {
  border-radius: var(--border-radius--small);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  transition: background-color var(--transition--color--duration),
  color var(--transition--color--duration);
  display: grid;
  place-items: center;
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--medium);
  width: 100%;
}

/* Primary filled button styles */
.button--primary button,
.button--primary--circular button {
  background-color: var(--color--darkest-primary);
  color: var(--grey--lightest);
}

.button--primary:hover button,
.button--primary--circular:hover button {
  background-color: var(--color--light-primary);
}

.button--primary:active button,
.button--primary--circular:active button {
  background-color: var(--color--light-primary);
}

/* Primary circular button styles */
.button--primary--circular button {
  display: grid;
  place-items: center;
  border-radius: 50%;
}

/* Primary not filled button styles */
.button--primary--not-filled button {
  color: var(--grey--darkest);
}

.button--primary--not-filled:hover button {
  color: var(--grey--darkest);
  background-color: var(--grey--light);
}

.button--primary--not-filled:active button {
  color: var(--grey--darkest);
  background-color: var(--grey--medium);
}

/* Secondary button styles */
.button--secondary button {
  background-color: var(--grey--darkest);
  color: var(--grey--lightest);
}

.button--secondary:hover button,
.button--secondary:active button {
  background-color: var(--grey--darker);
}

/* Disabled button styles */
.button--disabled button {
  background-color: var(--grey--light);
  color: var(--grey--medium);
}

.button--disabled:hover button {
  background-color: var(--grey--light);
  color: var(--grey--medium);
}

.button--disabled:active button {
  background-color: var(--grey--light);
}

/* Transparent button styles */
.button--transparent button {
  color: var(--grey--darkest);
}

.button--transparent:hover button {
  color: var(--grey--darker);
}

.button--transparent:active button {
  color: var(--grey--dark);
}

/* Large button styles */
.button--large button {
  padding: var(--padding--extra-small) var(--padding--large);
}

/* Medium button styles */
.button--medium button {
  padding: var(--padding--extra-small) var(--padding--medium);
}

/* Small button styles */
.button--small button {
  padding: var(--padding--extra-small) var(--padding--small);
}

/* Extra small button styles */
.button--extra-small button {
  padding: var(--padding--extra-small);
}
