<app-auth-layout (resetHandler)="resetHandler()" (submitHandler)="submitHandler()" [formGroup]="authForm" [linkText]="linkText" [link]="link" [title]="title">
  <app-input [formControl]="authForm.controls.email" [id]="'email'" [label]="'Email'" [placeholder]="'Enter your email'" [required]="true" [type]="'email'" id="email-container"></app-input>
  <app-input [formControl]="authForm.controls.password" [id]="'password'" [label]="'Password'" [placeholder]="'Enter your password'" [required]="true" [type]="'password'" id="password-container"></app-input>
</app-auth-layout>
