<app-auth-layout [formGroup]="authForm" [title]="title" (submitHandler)="submitHandler()" [link]="link" [linkText]="linkText">
  <app-input [formControl]="authForm.controls.email" [id]="'email'" [label]="'Email'" [placeholder]="'Enter your email'" [required]="true"
             [type]="'email'"></app-input>
  <app-input [formControl]="authForm.controls.password" [id]="'password'" [label]="'Password'" [placeholder]="'Enter your password'" [required]="true"
             [type]="'password'"></app-input>
</app-auth-layout>
