<app-header-layout>
  <div class="main-container">
    <div class="main-container__header-container">
      <h1 class="main-container__header-container__title">{{ title }}</h1>
    </div>
    <div class="main-container__form-container">
      <form (ngSubmit)="onSubmit($event)" (reset)="resetHandler($event)" [formGroup]="productForm"
            class="main-container__form-container__form">
        <app-input [id]="'image'" [label]="'Image'" [placeholder]="'Select product image'" [required]="true"
                   [type]="'file'" id="image-container"></app-input>
        <app-input [formControl]="productForm.controls['title']" [id]="'title'" [label]="'Title'"
                   [placeholder]="'Enter product title'" [required]="true" [type]="'text'"
                   id="title-container"></app-input>
        <app-text-area [formControl]="productForm.controls['description']" [id]="'description'" [label]="'Description'"
                       [placeholder]="'Enter product description'" [required]="true"
                       id="description-container"></app-text-area>
        <app-input [formControl]="productForm.controls['brand']" [id]="'brand'" [label]="'Brand'"
                   [placeholder]="'Enter product brand'" [required]="true" [type]="'text'"
                   id="brand-container"></app-input>
        <app-input [formControl]="productForm.controls['sku']" [id]="'sku'" [label]="'SKU'"
                   [placeholder]="'Enter product SKU'" [required]="true" [type]="'text'" id="sku-container"></app-input>
        <app-input [formControl]="productForm.controls['price']" [id]="'price'" [label]="'Price'"
                   [max]="PRICE_MAX_VALUE" [min]="PRICE_MIN_VALUE" [placeholder]="'Enter product price'"
                   [required]="true"
                   [step]="PRICE_STEP" [type]="'number'" id="price-container"></app-input>
        <app-input [formControl]="productForm.controls['stock']" [id]="'stock'" [label]="'Stock'"
                   [max]="STOCK_MAX_VALUE" [min]="STOCK_MIN_VALUE" [placeholder]="'Enter product stock'"
                   [required]="true"
                   [step]="STOCK_STEP" [type]="'number'" id="stock-container"></app-input>
        <!--
        <app-input [formControl]="productForm.controls['tags']" [id]="'tags'" [label]="'Tags'" [placeholder]="'Enter product tags'" [required]="true" [type]="'text'" id="tags-container"></app-input>
        -->

        <div class="main-container__form-container__form__footer-container">
          <div class="main-container__form-container__form__footer-container__buttons-container">
            <app-button [class]="'button--primary--not-filled button--large'" [type]="'reset'">Cancel</app-button>
            <app-button [class]="'button--primary button--large'" [type]="'submit'">Submit</app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-header-layout>
