<div class="main-container">
  <div class="main-container__header-container">
    <app-link [link]="logoLink">
      <img [height]="logoHeight" [width]="logoWidth" alt="logo" class="main-container__header-container__logo"
           ngSrc="/assets/images/repuestos-edge--logo.svg"/>
    </app-link>

    <div class="main-container__header-container__search-bar-container">
      <app-search-bar [placeholder]="searchBarPlaceholder"></app-search-bar>
    </div>

    @if (!isAuthenticated) {
      <div class="main-container__header-container__link-container">
        <app-link [class]="'link-container__link--large'" [link]="signInLink">
          {{ signInText }}
        </app-link>
        <app-link [class]="'link-container__link--primary link-container__link--large'" [link]="signUpLink">
          {{ signUpText }}
        </app-link>
      </div>
    } @else {
      <div class="main-container__header-container__button-container">
        <app-button (click)="signOutHandler()" [class]="'button--primary button--small'">
          {{ signOutText }}
        </app-button>
        <app-button (click)="productsHandler()" [class]="'button--secondary button--small'">
          {{ productsText }}
        </app-button>
        <app-button (click)="cartHandler()" [class]="'button--secondary button--small'">
          {{ cartText }}
        </app-button>
      </div>
    }
  </div>

  <div class="main-container__body-container">
    <ng-content></ng-content>
  </div>
</div>
