/* Main container styles */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header container styles */
.main-container__header-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap--medium);
  padding: var(--padding--extra-small) var(--padding--medium);
  background-color: var(--color--darkest-primary);
  box-shadow: var(--box-shadow--small);
}

/* Logo styles */
.main-container__header-container__logo{
  max-height: 3rem;
  width: auto;
}

/* Link container styles */
.main-container__header-container__link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap--small);
}

/* Sign out button span styles */
.main-container__header-container__link-container__sign-out-button__span{
  color: var(--grey--lightest);
}

/* Body container styles */
.main-container__body-container {
  display: flex;
  flex-direction: column;
  padding: var(--padding--medium);
  background-color: blue;
  box-shadow: var(--box-shadow--small);
}
