<div class="main-container">
  <div class="main-container__header-container">
    <img [height]="logoHeight" [width]="logoWidth" alt="logo"
         class="main-container__header-container__logo" ngSrc="/assets/images/repuestos-edge--logo.svg"/>
    <div class="main-container__header-container__search-bar-container">
      <app-search-bar [placeholder]="searchBarPlaceholder"></app-search-bar>
    </div>
    <div *ngIf="!isAuthenticated" class="main-container__header-container__link-container">
      <app-link [link]="signInLink" [class]="'link-container__link--large'">
        {{ signInText }}
      </app-link>
      <app-link [link]="signUpLink" [class]="'link-container__link--primary link-container__link--large'">
        {{ signUpText }}
      </app-link>
    </div>
    <div *ngIf="isAuthenticated" class="main-container__header-container__button-container">
      <app-button *ngIf="isAuthenticated" [class]="'button--primary button--small'" (click)="signOutHandler()">
        {{ signOutText }}
      </app-button>
      <app-button *ngIf="isAuthenticated" [class]="'button--secondary button--small'" (click)="myProductsHandler()">
        {{ myProductsText }}
      </app-button>
    </div>
  </div>
  <div class="main-container__body-container">
    <ng-content></ng-content>
  </div>
</div>
