<div class="input-main-container">
  <!-- Image preview -->
  @if (type === 'file' && imagePreview) {
    <div class="input-main-container__input-container__input__image-preview">
      <img [src]="imagePreview" alt="Image Preview">
    </div>
  }

  <!-- Label -->
  <app-label [class]="'input-main-container__label'" [for]="id">{{ label }}</app-label>

  <!-- Input container -->
  <div class="input-main-container__input-container">
    <!-- Input field -->
    <input (input)="onInput($event)" [disabled]="disabled" [hidden]="type==='file'" [id]="id"
           [max]="type==='number'&&max" [min]="type==='number'&&min" [placeholder]="placeholder" [required]="required" [value]="value" [step]="type==='number'&&step" [type]="type!=='password'?type:(passwordVisibility()?'text':'password')" class="input-main-container__input-container__input">

    <!-- Custom button to trigger file input -->
    @if (type === 'file') {
      <app-button (clickHandler)="triggerFileInput()" [class]="'button--transparent button--large'">
        Select Image
      </app-button>
    }

    <!-- Icons -->
    @if (type === 'password') {
      <app-button (clickHandler)="togglePasswordVisibility($event)"
                  [class]="'input-main-container__input-container__input__icon'">
        <span class="material-symbols-outlined">{{ passwordVisibility() ? 'visibility' : 'visibility_off' }}</span>
      </app-button>
    }
  </div>

  <!-- Error message -->
  <p [ngStyle]="{opacity: error ? 1 : 0}" class="input-main-container__error">{{ error }}</p>
</div>
