<div class="input-main-container">
  <app-label [for]="id" [class]="'input-main-container__label'">{{ label }}</app-label>
  <div class="input-main-container__input-container">
    <input (input)="onInput($event)" [disabled]="disabled" [id]="id"
           [placeholder]="placeholder" [required]="required"
           [type]="type!=='password'?type:(passwordVisibility()?'text':'password')" [value]="value"
           class="input-main-container__input-container__input">
    <app-button (clickHandler)="togglePasswordVisibility($event)"
                *ngIf="type==='password'" [class]="'input-main-container__input-container__input__icon'">
      <span class="material-symbols-outlined">{{ passwordVisibility() ? 'visibility' : 'visibility_off' }}</span>
    </app-button>
  </div>
  <p [ngStyle]="{opacity: showError ? 1 : 0}" class="input-main-container__error">{{ error }}</p>
</div>
