/* Input main container styles */
.input-main-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap--extra-small);
  width: 100%;
}

/* Label styles */
.input-main-container__label {
  padding-left: var(--border-radius--small);
}

/* Input container styles */
.input-main-container__input-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--grey--lighter);
  border-radius: var(--border-radius--small);
  outline: var(--outline--small) solid transparent;
  transition: background-color var(--transition--color--duration),
  color var(--transition--color--duration), outline-color var(--transition--color--duration);
}

.input-main-container__input-container:has(.input-main-container__input-container__input__icon) {
  grid-template-columns: 1fr auto;
  gap: var(--gap--small);
}

/* Input container hover styles */
.input-main-container__input-container:focus-within {
  outline-color: var(--grey--darkest);
}

/* Input styles */
.input-main-container__input-container__input {
  font-size: var(--font-size--small);
  padding: var(--padding--extra-small);
  background-color: transparent;
  outline: none;
  border: none;
}

.input-main-container__input-container__input:focus {
  outline: none;
}

/* Remove default styles for number inputs */
.input-main-container__input-container__input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

/* Remove spinners for number input in WebKit browsers */
.input-main-container__input-container__input[type="number"]::-webkit-inner-spin-button,
.input-main-container__input-container__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Icon styles */
.input-main-container__input-container__input__icon {
  display: grid;
  place-items: center;
  padding: 0 var(--padding--extra-small);
}

/* Error styles */
.input-main-container__error {
  text-align: end;
  font-size: var(--font-size--extra-small);
  color: var(--color--dark-primary);
  min-height: calc(var(--font-size--extra-small) * var(--line-height--regular));
  transition: opacity var(--transition--opacity--duration);
  padding-right: var(--border-radius--small);
}

/* Image preview styles */
.input-main-container__input-container__input__image-preview {
  display: grid;
  place-items: center;
}

/* Image styles */
.input-main-container__input-container__input__image-preview img {
  max-width: 100%;
  height: auto;
  max-height: 20rem;
  border-radius: var(--border-radius--large);
}
