/* Input main container */
.input-main-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap--small);
}

/* Label */
.input-main-container__label {
  padding-left: var(--border-radius--small);
}

/* Input container */
.input-main-container__input-container {
  display: grid;
  grid-template-columns: 1fr auto;
  flex-direction: row;
  gap: var(--gap--small);
  background-color: var(--grey--lighter);
  border-radius: var(--border-radius--small);
  transition: background-color var(--transition--color--duration);
}

.input-main-container__input-container:hover {
  background-color: var(--grey--light);
}

.input-main-container__input-container:focus-within {
  background-color: var(--grey--light);
}

/* Input */
.input-main-container__input-container__input {
  font-size: var(--font-size--small);
  padding: var(--padding--extra-small);
  background-color: transparent;
  outline: none;
  border: none;
}

.input-main-container__input-container__input:focus {
  outline: none;
}

/* Icon */
.input-main-container__input-container__input__icon {
  display: grid;
  place-items: center;
  padding: 0 var(--padding--extra-small);
}

/* Error */
.input-main-container__error {
  text-align: end;
  font-size: var(--font-size--extra-small);
  color: var(--color--dark-primary);
}
