<app-header-layout>
  <div class="main-container">
    <div class="main-container__header-container">
      <h1 class="main-container__header-container__title">My Products</h1>
      <app-search-bar (clickHandler)="searchClickHandler($event)" [class]="'main-container__header-container__search-products-bar'"
                      [disabled]="false" [placeholder]="'Search Products'"></app-search-bar>
      <div [class]="'main-container__header-container__add-product-container'">
        <app-button
          (click)="addProductHandler()"
          [class]="'main-container__header-container__add-product-container__add-button button--primary button--medium'"
          [type]="'button'">
          New Product
        </app-button>
        <p class="main-container__header-container__add-product-container__total-count">
          Total Products: {{ myProductsTotalCount }}
        </p>
      </div>
    </div>
    <div class="main-container__products-container">
      @for (entry of myProducts | keyvalue; track entry.key) {
        <app-product-card [productId]="entry.key" [title]="entry.value.title" [description]="entry.value.description"
                          [price]="entry.value.price" [stock]="entry.value.stock" [brand]="entry.value.brand"
                          [tags]="entry.value.tags" [sku]="entry.value.sku" [active]="entry.value.active"
                          [imageUrl]="entry.value.image_url"
                          [class]="'main-container__products-container__product-card'"></app-product-card>
      }
      @if (myProductsTotalCount === 0) {
        <p class="main-container__products-container__no-products">No products found</p>
      }
    </div>
  </div>
</app-header-layout>
