<app-auth-layout [formGroup]="authForm" [title]="title" (submitHandler)="submitHandler()" (resetHandler)="resetHandler()" [link]="link" [linkText]="linkText">
  <app-input [formControl]="authForm.controls['first-name']" id="first-name-container" [id]="'first-name'" [label]="'First Name'" [placeholder]="'Enter your first name'" [required]="true" [type]="'text'"></app-input>
  <app-input [formControl]="authForm.controls['last-name']" id="last-name-container" [id]="'last-name'" [label]="'Last Name'" [placeholder]="'Enter your last name'" [required]="true" [type]="'text'"></app-input>
  <app-input [formControl]="authForm.controls.email" id="email-container" [id]="'email'" [label]="'Email'" [placeholder]="'Enter your email'" [required]="true" [type]="'email'"></app-input>
  <app-input [formControl]="authForm.controls.password" id="password-container" [id]="'password'" [label]="'Password'" [placeholder]="'Enter your password'" [required]="true" [type]="'password'"></app-input>
</app-auth-layout>
