/* Fira Code font */
@font-face {
  font-family: 'Fira Code';
  src: url('/assets/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

/* Rockwell font */
@font-face {
  font-family: 'Rockwell';
  src: url('/assets/fonts/ROCK.ttf') format('truetype');
}

/* Rockwell Bold font */
@font-face {
  font-family: 'Rockwell Bold';
  src: url('/assets/fonts/Rockwell-Bold.ttf') format('truetype');
  font-weight: bold;
}

/* Global reset for the app */
* {
  font-family: 'Fira Code', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  --color--darkest--primary: #822222;
  --color--darker-primary: #be1e2d;
  --color--dark-primary: #ff0000;
  --color--medium-primary: #eb1c2f;
  --color--light-primary: #f42d2d;
  --color--lighter-primary: #e87575;
  --color--lightest-primary: #ffaaaa;
  --grey--dark: #000;
  --grey--medium: #1d1f1c;
  --grey--light: #726b6b;
  --gap--small: 0.5rem;
  --gap--medium: 1rem;
  --gap--large: 2rem;
  --font-size--extra-small: 0.8rem;
  --font-size--small: 1rem;
  --font-size--medium: 1.5rem;
  --font-size--large: 2rem;
  --font-size--extra-large: 3rem;
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--medium: 500;
  --font-weight--bold: 700;
  --padding--extra-small: 0.5rem;
  --padding--small: 1rem;
  --padding--medium: 2rem;
  --padding--large: 4rem;
  --padding--extra-large: 8rem;
  --margin--extra-small: 0.5rem;
  --margin--small: 1rem;
  --margin--medium: 2rem;
  --margin--large: 4rem;
  --margin--extra-large: 8rem;
  --border-radius--small: 0.5rem;
  --border-radius--medium: 1rem;
  --border-radius--large: 2rem;
  --box-shadow--small: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow--medium: 0 0 20px rgba(0, 0, 0, 0.1);
  --box-shadow--large: 0 0 30px rgba(0, 0, 0, 0.1);
  --slider--thumb--size: 1.6rem;
  --slider--range--height: 0.5rem;
  --slider--range--min-width: 14rem;
  --transition--color--duration: 0.3s;
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: var(--font-size--extra-large);
  font-weight: var(--font-weight--bold);
}

h2, h3 {
  font-size: var(--font-size--large);
  font-weight: var(--font-weight--medium);
}

h4, h5 {
  font-size: var(--font-size--medium);
  font-weight: var(--font-weight--regular);
}

h6 {
  font-size: var(--font-size--small);
  font-weight: var(--font-weight--light);
}

/* Span */
.material-symbols-outlined {
  text-align: center;
  vertical-align: middle;
}
