/* Global reset for the app */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
:root {
  /* Colors */
  --color--darkest-primary: #e03131;
  --color--darker-primary: #f03e3e;
  --color--dark-primary: #fa5252;
  --color--medium-primary: #ff6b6b;
  --color--light-primary: #ff8787;
  --color--lighter-primary: #ffa8a8;
  --color--lightest-primary: #ffc9c9;

  /* Grey colors */
  --grey--darkest: #212529;
  --grey--darker: #343a40;
  --grey--dark: #495057;
  --grey--medium: #adb5bd;
  --grey--light: #ced4da;
  --grey--lighter: #e9ecef;
  --grey--lightest: #f8f9fa;

  /* Font families */
  --font-family--primary: 'Proxima Nova';
  --font-family--secondary: 'Roboto';

  /* Font sizes */
  --font-size--extra-small: 0.8rem;
  --font-size--small: 1rem;
  --font-size--medium: 1.5rem;
  --font-size--large: 2rem;
  --font-size--extra-large: 3rem;

  /* Font weights */
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--medium: 500;
  --font-weight--bold: 700;

  /* Line heights */
  --line-height--regular: 1.2;

  /* Gaps, paddings and margins */
  --gap--extra-small: 0.25rem;
  --gap--small: 0.5rem;
  --gap--medium: 1rem;
  --gap--large: 2rem;

  --padding--extra-small: 0.5rem;
  --padding--small: 1rem;
  --padding--medium: 2rem;
  --padding--large: 4rem;
  --padding--extra-large: 8rem;

  --margin--extra-small: 0.5rem;
  --margin--small: 1rem;
  --margin--medium: 2rem;
  --margin--large: 4rem;
  --margin--extra-large: 8rem;

  /* Borders and outlines */
  --border-radius--small: 0.5rem;
  --border-radius--medium: 1rem;
  --border-radius--large: 2rem;

  --border--small: 2px;
  --border--medium: 3px;
  --border--large: 4px;

  --outline--small: 2px;
  --outline--medium: 3px;
  --outline--large: px;

  /* Shadows */
  --box-shadow--small: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow--medium: 0 0 20px rgba(0, 0, 0, 0.1);
  --box-shadow--large: 0 0 30px rgba(0, 0, 0, 0.1);

  /* Slider */
  --slider--thumb--size: 1.6rem;
  --slider--range--height: 0.5rem;
  --slider--range--min-width: 14rem;

  /* Transition durations */
  --transition--color--duration: 0.3s;
  --transition--opacity--duration: 0.3s;

  /* Keyframes */
  --fade-in--duration: 0.3s;
  --fade-in--delay: 0.3s;
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family--primary), sans-serif;
  font-weight: var(--font-weight--bold);
}

h1 {
  font-size: var(--font-size--extra-large);
}

h2, h3 {
  font-size: var(--font-size--large);
}

h4, h5 {
  font-size: var(--font-size--medium);
}

h6 {
  font-size: var(--font-size--small);
}

/* Div styles */
div {
  display: inline-block;
}

/* Paragraph styles */
p {
  display: inline-block;
  line-height: var(--line-height--regular);
}

/* Anchor styles */
a {
  font-family: var(--font-family--secondary), sans-serif;
}

/* Span */
.material-symbols-outlined {
  text-align: center;
  vertical-align: middle;
}

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
